@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Register</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Form Section Begin -->

<!-- Register Section Begin -->
<div class="register-login-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="register-form">
                    <h2>Register</h2>
                    <form method="post" asp-action="Register" asp-controller="Account">
                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                            <div class="group-input">
                                <label asp-for="UserName">User Name:</label>
                                <input asp-for="UserName" id="username">
                                <span class="text-danger" asp-validation-for="UserName"></span>
                            </div>
                            <div class="group-input">
                                <label asp-for="EmailAddress">E-mail Address:</label>
                                <input asp-for="EmailAddress">
                                <span class="text-danger" asp-validation-for="EmailAddress"></span>
                            </div>
                            <div class="group-input">
                                <label asp-for="Password">Password:</label>
                                <input asp-for="Password">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="group-input">
                                <label asp-for="PasswordConfirm">Confirm your Password:</label>
                                <input asp-for="PasswordConfirm">
                                <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                            </div>
                        <button type="submit" class="site-btn register-btn">REGISTER</button>
                    </form>
                    <div class="switch-login">
                        <a asp-controller="Account" asp-action="Login" class="or-login">Or Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Form Section End -->

<!-- Partner Logo Section Begin -->
<div class="partner-logo">
    <div class="container">
        <div class="logo-carousel owl-carousel">
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-1.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-2.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-3.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-4.png" alt="">
                </div>
            </div>
            <div class="logo-item">
                <div class="tablecell-inner">
                    <img src="img/logo-carousel/logo-5.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner Logo Section End -->

@section script{ 
    <script src="~/jquery-validate/jquery.validate.js"></script>
    <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}